*{
    background-color: black;
}
#hour, #minute, #second, #millisecond{
    padding: 5px;
    color: red;
    font-size: 16vw;
    border-radius: 15px;
    width: 150vh;
    text-align: center;
    font-family: 'Seven Segment';
}

@font-face{
    font-family: 'Seven Segment';

    src: url("Seven_Segment.ttf");
}

#start, #pause, #reset{
    color: #282828;
    border-radius: 20px;
    font-size: 10vw;
    font-family: 'Seven Segment';
}

#doispontos{
    color: black;
    font-size: 16vw;
    font-family: Arial, Helvetica, sans-serif;
}
